/*==========CHARTE GRAPHIQUE==========*/

:root {
  /*COULEURS*/
  --main-color: #007bff;
  --secondary-color: #2c2c2c;
  --valide-idea: #28d079;
  --secondary-background: #f0f0f0;
  --dark-color: #2c2c2c;
  --key-information: #ffce00;
  --shadow-color: #cccccc;
  --reject-idea: #ff4d4d;
  --background-message: #9ecbfb;
  --light-color: #ffff;

  /*POLICES*/

  /* Titres */
  --title-font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  --title-font-family-bold: Verdana, sans-serif, bold;
  --title-font-family-italic: Verdana, sans-serif, italic;
  --title-font-size: 1rem;
  --main-font-size: 0.8rem;
  --main-font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  --font-color: black;

  /* Espace */
  --spacing-little: 0.12rem;
  --spacing-medium: 0.3rem;
  --spacing-big: 0.75rem;
}

/*========== CSS BALISE HTML==========*/

* {
  padding: 0rem;
  margin: 0rem;
}

body {
  margin: 0rem;
  background-color: var(--l);
}

h1 {
  font-family: var(--title-font-family);
  font-size: calc(2 * --title-font-size);
  color: var(--dark-color);
  margin: 2.5rem;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  color: var(--dark-color);
  line-height: 2rem;
  margin: 0.5rem;
}

h3 {
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  color: var(--dark-color);
  line-height: 2rem;
  margin: 0.5rem;
}

p {
  font-family: var(--main-font-family);
  font-size: var(--title-font-size);
  color: var(--dark-color);
  line-height: 2rem;
  margin: 0.5rem;
}

button {
  cursor: pointer;

  /* texte */
  font-family: var(--title-font-family);
  text-decoration: none;

  /* border */
  border-radius: 0.5rem;
}

ul,
li,
a {
  text-decoration: none;
}
