.box_img {
  width: 260px;
  height: auto;
  margin: 0 0 1.8rem 0;
}

@media (min-width: 300px) {
  .box_img {
    width: 250px;
    height: auto;
    margin: 0 0 1.8rem 0;
  }
}

@media (min-width: 1000px) {
  .box_img {
    width: 350px;
    height: auto;
    margin: 0 0 1.8rem 0;
  }
}

@media (min-width: 1000px) {
  .box_img {
    width: 350px;
    height: auto;
    margin: 0 0 1.8rem 0;
  }
}

@media (min-width: 1990px) {
  .box_img {
    width: 450px;
    height: auto;
    margin: 0 0 1.8rem 0;
  }
}

@media (min-width: 2500px) {
  .box_img {
    width: 500px;
    height: auto;
    margin: 0 0 1.8rem 0;
  }
}
